<a href="https://colab.research.google.com/github/AndAmir/Covid19-model-colab/blob/master/Covid19_precondition_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install tensorflow-gpu
#!pip install mlxtend==0.17.0

In [1]:
import tensorflow as tf
import pandas as pd
import datetime as dt
import numpy as np

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [ ]:
'''
df = pd.read_csv("/content/covid.csv")
df = df[df.icu != 97.0]
df.insert(6,"symptomEntry_Delta",0)

df.reset_index(drop=True)
for a, b, i in zip(df.date_symptoms, df.entry_date,range(121913)):
  a = dt.date(2020, int(b[3:5]),int(b[:2])) - dt.date(2020, int(a[3:5]),int(a[:2]))
  df.iloc[i,df.columns.get_loc('symptomEntry_Delta')] = a.days
df.pop('id')

df['icu'].value_counts()
df = df[df.icu != 99.0]
df.reset_index(drop=True)
df.to_csv('covid_edited.csv')
'''

In [2]:
df = pd.read_csv('/content/covid_edited.csv')

In [3]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [ ]:
df['symptomEntry_Delta'].value_counts()

In [11]:
df

        sex  patient_type  entry_date  ... contact_other_covid covid_res  icu
0         1             2  06-04-2020  ...                  99         1    2
1         2             2  17-04-2020  ...                  99         1    2
2         1             2  13-04-2020  ...                  99         1    2
3         2             2  16-04-2020  ...                  99         1    1
4         2             2  22-04-2020  ...                  99         1    2
...     ...           ...         ...  ...                 ...       ...  ...
121783    2             2  02-05-2020  ...                  99         3    2
121784    2             2  07-06-2020  ...                   2         3    1
121785    2             2  08-05-2020  ...                   2         3    1
121786    1             2  12-05-2020  ...                  99         3    2
121787    1             2  14-05-2020  ...                  99         3    2

[121788 rows x 23 columns]

In [4]:
df.pop('date_symptoms')
df.pop('entry_date')
df.pop('date_died')
df.pop('patient_type')

0         2
1         2
2         2
3         2
4         2
         ..
121783    2
121784    2
121785    2
121786    2
121787    2
Name: patient_type, Length: 121788, dtype: int64

In [7]:
feature_columns = []

# numeric cols
for header in ['PhotoAmt', 'Fee', 'Age']:
  feature_columns.append(feature_column.numeric_column(header))

AttributeError: ignored

In [21]:
df['intubed'].value_counts()

2    111823
1      9965
Name: intubed, dtype: int64

In [5]:
df

        sex  symptomEntry_Delta  intubed  ...  contact_other_covid  covid_res  icu
0         1                   5        2  ...                   99          1    2
1         2                   7        2  ...                   99          1    2
2         1                   0        2  ...                   99          1    2
3         2                   0        2  ...                   99          1    1
4         2                   9        2  ...                   99          1    2
...     ...                 ...      ...  ...                  ...        ...  ...
121783    2                   0        2  ...                   99          3    2
121784    2                  14        1  ...                    2          3    1
121785    2                   0        1  ...                    2          3    1
121786    1                   3        2  ...                   99          3    2
121787    1                  13        2  ...                   99          3    2

[121788 rows x 19 columns]