<a href="https://colab.research.google.com/github/AndAmir/Covid19-model-colab/blob/master/Covid19_precondition_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install tensorflow-gpu
#!pip install mlxtend==0.17.0

In [ ]:
import tensorflow as tf
import pandas as pd
import datetime as dt

In [ ]:
df = pd.read_csv("/content/covid.csv")

In [ ]:
df = df[df.icu != 97.0]

In [ ]:
df.insert(6,"symptomEntry_Delta",0)

In [ ]:
for a, b, i in zip(df.date_symptoms, df.entry_date,range(121913)):
  a = dt.date(2020, int(b[3:5]),int(b[:2])) - dt.date(2020, int(a[3:5]),int(a[:2]))
  df.iloc[i,df.columns.get_loc('symptomEntry_Delta')] = a.days

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [ ]:
df.pop('id')

2           167386
3           0b5948
4           0d01b5
5           1beec8
6         1.75E+56
            ...
566584      093a47
566590      067bbd
566591    5.60E+40
566593      150615
566599      1beb81
Name: id, Length: 121913, dtype: object

In [ ]:
df['icu'].value_counts()

2     111676
1      10112
99       125
Name: icu, dtype: int64

In [ ]:
df = df[df.icu != 99.0]

In [ ]:
df['icu'].value_counts()

2    111676
1     10112
Name: icu, dtype: int64

In [ ]:
df.reset_index(drop=True)

        sex  patient_type  entry_date  ... contact_other_covid covid_res  icu
0         1             2  06-04-2020  ...                  99         1    2
1         2             2  17-04-2020  ...                  99         1    2
2         1             2  13-04-2020  ...                  99         1    2
3         2             2  16-04-2020  ...                  99         1    1
4         2             2  22-04-2020  ...                  99         1    2
...     ...           ...         ...  ...                 ...       ...  ...
121783    2             2  02-05-2020  ...                  99         3    2
121784    2             2  07-06-2020  ...                   2         3    1
121785    2             2  08-05-2020  ...                   2         3    1
121786    1             2  12-05-2020  ...                  99         3    2
121787    1             2  14-05-2020  ...                  99         3    2

[121788 rows x 23 columns]

In [ ]:
df.to_csv('covid_edited.csv')

In [ ]:
df.index

Int64Index([     2,      3,      4,      5,      6,      9,     10,     12,
                21,     30,
            ...
            566559, 566565, 566573, 566578, 566579, 566584, 566590, 566591,
            566593, 566599],
           dtype='int64', length=121788)